.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  margin: 60px 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  opacity: 0.7;
}
