.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.5s linear,
    visiblity 0s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.5s linear,
    visibilty 0s;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px;
  position: relative;
  width: 100%;
  padding: 32px 50px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  max-width: 630px;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid #21212166;
  padding: 16px 12px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  background-color: #212121;
  color: #fff;
  padding: 18px 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.modal__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__container {
    padding: 22px 12px;
  }

  .modal__close-btn {
    top: 22px;
    right: 22px;
    margin-bottom: 24px;
  }
}
